body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.directory img, .file img {
    height: 50px;
    width: 50px;
}
.directory, .file {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.all-directories, .all-files {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.all-directories-container, .all-files-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}
.all-directories-header, .all-files-header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid grey;
    padding-bottom: 8px;
    width: 100%;
}
.create-directory, .create-file{
    display: flex;
    align-items: center;
    gap: 8px;
    & input{flex: 1 1 0;};
    width: 100%;
}
